.navbar-icons-lg {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	.navbar-brand {
		display: none;
	}
	& > .container {
		padding: 0;
	}
	.navbar-nav,
	& > .container,
	& > .container-fluid {
		flex-wrap: nowrap;
	}
	.navbar-nav {
		flex-direction: row;
		flex: 1;
		.nav-item {
			flex: inherit;
			text-align: center;
		}
		.nav-link {
			padding: 0 .5rem;
			margin-top: 15px;
			font-size: 1.1rem;
			font-weight: 300;
			white-space: nowrap;
			span {
				display: none;
				line-height: 20px;
			}
			i {
				display: block;
			}
		}
		.nav-item.active {
			.nav-link {
				margin-top: 4px;
				span {
					display: inline-block;
				}
			}
		}
	}
}

.navbar-icons-lg {
	@media (min-width: 992px) {
		height: 80px;
		position: unset;
		bottom: unset;
		right: unset;
		left: unset;
		.navbar-brand {
			display: block;
		}
		& > .container {
			padding-right: 15px;
			padding-left: 15px;
		}
		.navbar-nav,
		& > .container,
		& > .container-fluid {
		}
		.navbar-nav {
			flex: none;
			.nav-item {
				&.active {
					.nav-link {
						margin-top: 0;
					}
				}
			}
			.nav-link {
				padding: .5rem;
				margin-top: 0px;
				font-size: 1.2rem;
				font-weight: 700;
				i {
					display: inline-block;
				}
				span {
					display: inline-block;
					line-height: auto;
					font-family: 'Roboto Condensed', sans-serif;
					text-transform: uppercase;
				}
			}
		}
	}
}

.navbar {
	overflow-y: hidden;
	z-index: 99;
	@media (min-width: 992px) {
		height: 80px;
	}
}
.navbar-dark .navbar-nav .nav-link {
	@media (min-width: 992px) {
		color: rgba(255,255,255,1);
	}
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    background-color: black;
    border-radius: 50px;
}

.navbar .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.nav-item-highlight {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		background-color: red;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		display: block;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.nav-link {
		.active {
			background-color: transparent;
		}
	}
}
.navbar-icons-lg {
	.nav-item-highlight {
		&:before {
			display: none;
		}
	}
	.navbar-nav .active>.nav-link,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show,
	.navbar-nav .show>.nav-link {
		background-color: transparent;
	}
	@media (min-width: 992px) {
		.nav-item-highlight {
			&:before {
				display: block;
			}
		}
		.navbar-nav .active>.nav-link,
		.navbar-nav .nav-link.active,
		.navbar-nav .nav-link.show,
		.navbar-nav .show>.nav-link {
			background-color: black;
		}
	}
}