.map{
    overflow: hidden;
    background: #E8DBA7;
    
    .map-inside{
        height: 200%;
        width: 100vw;
        cursor: pointer;
        background-image: url(../galery/zoo_map.jpg);
        background-size: cover;
        position: relative;
        .pointer{
            height: 30px;
            width: 30px;
            background: white;
            border: 5px solid #DC1F28;
            border-radius: 50%;
            position: absolute;
            top: 70%;
            left: 60%;
            &:hover{
                background:  #DC1F28;
            }
        }
    }

}
.dialog{
    background: white!important;
    border: none!important;
}
.ui-widget-content {
    border: none !important;
  }
.dialog-header{
    position: relative;
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../galery/lion.jpg);
    i{
        position: absolute;
        right: 10%;
        top: 10%;
        color: white;
        font-size: 40px;
    }
}
.ui-dialog .ui-dialog-content {
    padding: 0;
}​
.ui-modal .ui-tooltip-content {
    padding: 0px;
    }
.ui-widget-overlay.ui-front { /* you want this */
    opacity:.75;
}
.someclass .ui-widget-header {
    display: none;
    padding: 0!important;
  }
  .ui-dialog, .ui-corner-all, .ui-widget, .ui-widget-content, .ui-front, .someclass{
      padding: 0!important;
      border-radius: 25px;
  }
  .dialog-inside-cont{
      padding: 3%;
      margin: 3%;
      text-align: center;
      p{
          margin: 0;
          padding: 0;
      }
      .dialog-btn{
          background: #97BE0D;
          border: 2px solid #97BE0D;
          color: white;
          display: block;
          padding: 10px 20px;
          width: 150px;
          margin: 0 auto;
          margin-top: 2%;
          text-transform: uppercase;
          &:hover{
            color:#97BE0D;
            background: white;
            text-decoration: none;

          }

      }
      .btntwo{
          width: 200px;
          margin-top: 5%;
      }
      .split{
        margin-top: 5%;
    }
    .row{
        margin-top: 5%;
    }
    .event-time{
        border: 2px solid #E7E7E7;
        border-radius: 25px;
        display: block;
        height: auto;
        padding: 15% 0.2%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        .time{
            color: #DC1F28;
            font-size: 20px;
        }
        .event-name{
            color: #6D6D6D;
        }

    }
  }