@charset "UTF-8";
header {
  background-color: black;
  height: 10vh;
  width: 100%;
}

#calendar-container {
  padding: 10px;
  width: 210px;
  height: 240px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d3d3d3));
  background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container > div {
  padding: 0;
  margin-bottom: 10px;
}

#calendar-month-year {
  margin: 5px;
}

#calendar-dates > table > tr > td {
  padding: 5px;
}

header {
  background: #323232;
}

header ul {
  padding: 1% 0 !important;
  list-style-type: none;
  margin: 0;
  height: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header ul li {
  float: right;
  position: relative;
}

header ul li a {
  display: block;
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

header #logo {
  background-image: url(../galery/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
}

header #logo a:hover {
  background-color: inherit;
}

header #buy-ticket {
  margin-right: 13.5%;
}

header #buy-ticket a {
  position: absolute;
  border-radius: 50%;
  background-color: #DC1F28;
  width: 150px;
  overflow: hidden;
  height: 200px;
  -webkit-transform: translateY(-37%);
          transform: translateY(-37%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .split {
  margin-right: 2%;
}

header .margin-right li:nth-child(1) {
  margin-right: 15%;
}

.sub-nav {
  background-color: black;
  height: auto;
  padding: 1% 0;
  color: white;
}

.sub-nav p {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-nav h3 {
  text-align: center;
  margin: 0;
}

.sub-nav div:nth-child(3) p {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sub-nav i {
  margin-right: 2%;
}

.map {
  overflow: hidden;
  background: #E8DBA7;
}

.map .map-inside {
  height: 200%;
  width: 100vw;
  cursor: pointer;
  background-image: url(../galery/zoo_map.jpg);
  background-size: cover;
  position: relative;
}

.map .map-inside .pointer {
  height: 30px;
  width: 30px;
  background: white;
  border: 5px solid #DC1F28;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 60%;
}

.map .map-inside .pointer:hover {
  background: #DC1F28;
}

.dialog {
  background: white !important;
  border: none !important;
}

.ui-widget-content {
  border: none !important;
}

.dialog-header {
  position: relative;
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../galery/lion.jpg);
}

.dialog-header i {
  position: absolute;
  right: 10%;
  top: 10%;
  color: white;
  font-size: 40px;
}

.ui-dialog .ui-dialog-content {
  padding: 0;
}

​
.ui-modal .ui-tooltip-content {
  padding: 0px;
}

.ui-widget-overlay.ui-front {
  /* you want this */
  opacity: .75;
}

.someclass .ui-widget-header {
  display: none;
  padding: 0 !important;
}

.ui-dialog, .ui-corner-all, .ui-widget, .ui-widget-content, .ui-front, .someclass {
  padding: 0 !important;
  border-radius: 25px;
}

.dialog-inside-cont {
  padding: 3%;
  margin: 3%;
  text-align: center;
}

.dialog-inside-cont p {
  margin: 0;
  padding: 0;
}

.dialog-inside-cont .dialog-btn {
  background: #97BE0D;
  border: 2px solid #97BE0D;
  color: white;
  display: block;
  padding: 10px 20px;
  width: 150px;
  margin: 0 auto;
  margin-top: 2%;
  text-transform: uppercase;
}

.dialog-inside-cont .dialog-btn:hover {
  color: #97BE0D;
  background: white;
  text-decoration: none;
}

.dialog-inside-cont .btntwo {
  width: 200px;
  margin-top: 5%;
}

.dialog-inside-cont .split {
  margin-top: 5%;
}

.dialog-inside-cont .row {
  margin-top: 5%;
}

.dialog-inside-cont .event-time {
  border: 2px solid #E7E7E7;
  border-radius: 25px;
  display: block;
  height: auto;
  padding: 15% 0.2%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.dialog-inside-cont .event-time .time {
  color: #DC1F28;
  font-size: 20px;
}

.dialog-inside-cont .event-time .event-name {
  color: #6D6D6D;
}
/*# sourceMappingURL=style.css.map */