.bg-light {
	background-color: $light-color!important;
}
.bg-lg-light {
	@media (min-width: 992px) {
		background-color: $light-color!important;
	}
}

.bg-none {
	background-color: transparent!important;
}
.bg-lg-none {
	@media (min-width: 992px) {
		background-color: transparent!important;
	}
}

.bg-white {
	background-color: white!important;
}
.bg-lg-white {
	@media (min-width: 992px) {
		background-color: white!important;
	}
}
.bg-white-80 {
	background-color: rgba(255,255,255,.8) !important;	
}
.bg-lg-white-80 {
	@media (min-width: 992px) {
		background-color: rgba(255,255,255,.8) !important;
	}
}