.shadow-0 {
	box-shadow: none !important;
}
.shadow-1 {
	box-shadow: $box-shadow-1 !important;
}
.shadow-2 {
	box-shadow: $box-shadow-2 !important;
}
.shadow-3 {
	box-shadow: $box-shadow-3 !important;
}
.shadow-3-top {
	box-shadow: $box-shadow-3-top !important;
}
