.btn {
	color: white;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
}
.btn-link {
	color: $secondary-color;
	background-color: transparent;
}

.btn-toggle-group {
	display: flex;
	flex-wrap: wrap;
	.btn {
		margin: 0 .5rem .5rem 0;
	}
}