.card {
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.card-img-top {
	object-fit: cover;
}
.card-body {
	padding: $card-spacer-x;
	@media (min-width: 992px) {
		// padding: $card-spacer-x-lg;
	}
}
.card-slide-bottom {
	box-shadow: none;
	margin: 0 -15px;
	border-radius: 0;
	@media (min-width: 992px) {
		margin: 0;
	}
}