$primary-color: #DC1F28;
$secondary-color: #97BE0D;
$success-color: green;
$danger-color: red;
$warning-color: orange;
$info-color: #97BE0D;
$light-color: #F1F1F1;
$dark-color: #323232;
$gray: #959595;

$header-color: #323232;

$border-radius: 10px;

$box-shadow-1: 0 .125rem .25rem rgba(0,0,0,.04);
$box-shadow-2: 0 .25rem .5rem rgba(0,0,0,.04);
$box-shadow-3: 0 .5rem 1rem rgba(0,0,0,.04);
$box-shadow-3-top: 0 -.5rem 1rem rgba(0,0,0,.04);

$h1-font-size: 1.6rem;
$h1-font-size-sm: 1.6rem;
$h1-font-size-md: 1.6rem;
$h1-font-size-lg: 1.6rem;
$h1-font-size-xl: 1.6rem;

$h2-font-size: 1.4rem;
$h2-font-size-sm: 1.4rem;
$h2-font-size-md: 1.4rem;
$h2-font-size-lg: 1.4rem;
$h2-font-size-xl: 1.4rem;

$h3-font-size: 1.2rem;
$h3-font-size-sm: 1.2rem;
$h3-font-size-md: 1.2rem;
$h3-font-size-lg: 1.2rem;
$h3-font-size-xl: 1.2rem;

$h4-font-size: inherit;
$h4-font-size-sm: inherit;
$h4-font-size-md: inherit;
$h4-font-size-lg: inherit;
$h4-font-size-xl: inherit;

$h5-font-size: inherit;
$h5-font-size-sm: inherit;
$h5-font-size-md: inherit;
$h5-font-size-lg: inherit;
$h5-font-size-xl: inherit;

$h6-font-size: inherit;
$h6-font-size-sm: inherit;
$h6-font-size-md: inherit;
$h6-font-size-lg: inherit;
$h6-font-size-xl: inherit;

$card-spacer-x: 1rem;
$card-spacer-x-lg: 2rem;