body.page-animals {
    background-image: url('../images/givskudzoo_kamelflok_liggende_anlaeg_0769.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}