<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT animals ANY>
<!ATTLIST animals id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT animal ANY>
<!ATTLIST animal id ID #REQUIRED>
<!ELEMENT galleryForAnimals ANY>
<!ATTLIST galleryForAnimals id ID #REQUIRED>
<!ELEMENT animalCollection ANY>
<!ATTLIST animalCollection id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT calendar ANY>
<!ATTLIST calendar id ID #REQUIRED>
]>
<root id="-1">
  <home id="1062" key="8a593e06-83f0-477c-81b7-dc2af19a375e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-23T14:26:50" updateDate="2018-12-19T13:32:44" nodeName="Map" urlName="map" path="-1,1062" isDoc="" nodeType="1061" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <map><![CDATA[{
  "zoom": 14,
  "position": {
    "id": "WGS84",
    "datum": "55.406321,10.387015"
  }
}]]></map>
    <animals id="1183" key="abbcadf0-466d-48fc-86ba-27ff8c56b44e" parentID="1062" level="2" creatorID="0" sortOrder="3" createDate="2018-12-10T15:22:32" updateDate="2018-12-17T10:48:17" nodeName="Animals" urlName="animals" path="-1,1062,1183" isDoc="" nodeType="1076" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1128" nodeTypeAlias="animals" isPublished="true">
      <featuredAnimals><![CDATA[umb://document/2bdc597da73c4b6f805a02cc5663e5ab]]></featuredAnimals>
      <animal id="1259" key="2bdc597d-a73c-4b6f-805a-02cc5663e5ab" parentID="1183" level="3" creatorID="0" sortOrder="0" createDate="2018-12-17T10:47:06" updateDate="2018-12-17T10:47:06" nodeName="Alpaca" urlName="alpaca" path="-1,1062,1183,1259" isDoc="" nodeType="1163" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1075" nodeTypeAlias="animal" isPublished="true">
        <bannerImage><![CDATA[umb://media/abc48596ab70486580832a9fbf01a223]]></bannerImage>
        <imageAnimal><![CDATA[umb://media/7308629d1a4843279e9e49d947682d06]]></imageAnimal>
        <animalWeight><![CDATA[50-100]]></animalWeight>
        <animalDescription><![CDATA[<p><strong>An alpaca</strong></p>
<p> </p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>
<p> </p>
<p><strong>An alpaca</strong></p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>
<p>An alpacaAn alpacaAn alpacaAn alpacaAn alpacaAn alpaca</p>]]></animalDescription>
        <animalHeight><![CDATA[100-200]]></animalHeight>
        <animalName><![CDATA[Alpacha]]></animalName>
        <shortDescription><![CDATA[An alpaca]]></shortDescription>
        <galleryImage1><![CDATA[umb://media/8b93931a369f41f2953bad86df5c2653]]></galleryImage1>
        <galleryImage3><![CDATA[umb://media/dca25b7010ab4ca993bac2ee48f55c87]]></galleryImage3>
        <galleryImage2><![CDATA[umb://media/613f62457e1a4a62a90975d68d62aff0]]></galleryImage2>
      </animal>
    </animals>
  </home>
</root>