<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT animals ANY>
<!ATTLIST animals id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT animal ANY>
<!ATTLIST animal id ID #REQUIRED>
<!ELEMENT galleryForAnimals ANY>
<!ATTLIST galleryForAnimals id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT calendar ANY>
<!ATTLIST calendar id ID #REQUIRED>
<!ELEMENT calendarItem ANY>
<!ATTLIST calendarItem id ID #REQUIRED>
<!ELEMENT maps ANY>
<!ATTLIST maps id ID #REQUIRED>
]>
<root id="-1">
  <home id="1062" key="8a593e06-83f0-477c-81b7-dc2af19a375e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-23T14:26:50" updateDate="2019-01-03T14:18:32" nodeName="Map" urlName="map" path="-1,1062" isDoc="" nodeType="1061" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <map><![CDATA[[{"key":"29c55997-cd96-451f-8e5c-1bcf51f485f9","name":"Item 1","ncContentTypeAlias":"maps","map":"{\r\n  \"position\": {\r\n    \"id\": \"WGS84\",\r\n    \"datum\": \"55.808262,9.350541\"\r\n  }\r\n}","animal":"umb://document/2bdc597da73c4b6f805a02cc5663e5ab"}]]]></map>
    <animals id="1183" key="abbcadf0-466d-48fc-86ba-27ff8c56b44e" parentID="1062" level="2" creatorID="0" sortOrder="3" createDate="2018-12-10T15:22:32" updateDate="2019-01-03T22:06:43" nodeName="Animals" urlName="animals" path="-1,1062,1183" isDoc="" nodeType="1076" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1128" nodeTypeAlias="animals" isPublished="true">
      <featuredAnimals><![CDATA[umb://document/2bdc597da73c4b6f805a02cc5663e5ab]]></featuredAnimals>
      <animal id="1259" key="2bdc597d-a73c-4b6f-805a-02cc5663e5ab" parentID="1183" level="3" creatorID="0" sortOrder="0" createDate="2018-12-17T10:47:06" updateDate="2019-01-04T01:32:35" nodeName="Alpaca" urlName="alpaca" path="-1,1062,1183,1259" isDoc="" nodeType="1163" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1075" nodeTypeAlias="animal" isPublished="true">
        <bannerImage><![CDATA[umb://media/abc48596ab70486580832a9fbf01a223]]></bannerImage>
        <imageAnimal><![CDATA[umb://media/ddf85faee87440208a8ba812abf98d5c]]></imageAnimal>
        <animalWeight><![CDATA[50-100]]></animalWeight>
        <animalDescription><![CDATA[<p> </p>
<p class="section"><strong>Avlet som husdyr</strong></p>
<p class="section">Alpakaen er et husdyr og har derved ikke som sådan en naturlig udbredelse. Den menes at være domesticeret fra den vilde stamform vicuñaen i Peru for flere tusinde år siden. Sidenhen har mennesket spredt alpakaen til store dele af Sydamerika, især i det centrale og sydlige Andes. Alpakaen lever for det meste i højderne, og den kan findes i op til 4800 meter. I 1980'erne begyndte man at eksportere alpakaer til andre lande og kontinenter, og derfor kan man nu finde den i både USA, Australien og i store dele af Europa.</p>
<p class="section"> </p>
<p class="section"><strong>Alpakaen har den fineste uld</strong></p>
<p class="section">I Sydamerika findes der fire forskellige arter af lamadyr: Alpakaen, vicuñaen, guanakoen og lamaen. Af disse arter er alpakaen og lamaen husdyr, mens vicuñaen og guanacoen er vildtlevende arter. Samtlige lamadyr ligger tæt på hinanden rent genetisk og kan krydsparres med hinanden.<span> </span><br />Alpakaen ligner sin forfader vicuñaen i både udseende og adfærd, men den afviger ved at være lidt større og have en meget lang, farvet pels. Vicuñaen har kun én farve, mens der hos alpakaer er rapporteret omkring 22 forskellige farver, rangerende fra hvid og brun til sort, og der er både set ensfarvede og alpakaer med mangefarvet pels.<span> </span><br />Alpakaen er især berømt for sin meget fine uld, der kan vokse sig 50 cm lang, hvis ikke den klippes af jævnligt. Alpakauld er både finere og varmere end almindelig uld, og derfor er alpakauld også en del dyrere at købe.</p>
<p class="section"> </p>
<p class="section"><strong>En ulden drøvtygger</strong></p>
<p class="section">Alpakaen er en drøvtygger ligesom en ko. Og ligesom koen har alpakaen flere maver til at hjælpe med nedbrydningen af mad. Dog har alpakaen kun tre maver, hvor en ko har fire. Alpakaen lever kun af græs, hvorimod lamaer og guanakoer lever af både græs og blade.</p>]]></animalDescription>
        <animalHeight><![CDATA[100-200]]></animalHeight>
        <animalName><![CDATA[Alpacha]]></animalName>
        <shortDescription><![CDATA[An alpaca]]></shortDescription>
        <galleryImage1><![CDATA[umb://media/224676ee698146838ec51b4b2b7ff70e]]></galleryImage1>
        <galleryImage2><![CDATA[umb://media/f0790bb6768645a38121272213247740]]></galleryImage2>
      </animal>
    </animals>
    <calendar id="1268" key="c6a64856-1361-48ed-ae5e-89bdbaec04b7" parentID="1062" level="2" creatorID="0" sortOrder="4" createDate="2018-12-28T13:28:17" updateDate="2019-01-03T22:06:57" nodeName="Calendar" urlName="calendar" path="-1,1062,1268" isDoc="" nodeType="1263" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1077" nodeTypeAlias="calendar" isPublished="true">
      <featureCalendar><![CDATA[umb://document/338d00d939f548f7af7d3f319c219c5d]]></featureCalendar>
      <calendarItem id="1278" key="338d00d9-39f5-48f7-af7d-3f319c219c5d" parentID="1268" level="3" creatorID="0" sortOrder="1" createDate="2018-12-28T14:17:04" updateDate="2019-01-03T22:06:55" nodeName="Alpacha feeding" urlName="alpacha-feeding" path="-1,1062,1268,1278" isDoc="" nodeType="1264" creatorName="Jonathan Pabst Klemensen" writerName="Jonathan Pabst Klemensen" writerID="0" template="1079" nodeTypeAlias="calendarItem" isPublished="true">
        <descriptionContent><![CDATA[The alpacha will be feed by the zoo keepers]]></descriptionContent>
        <imageEvent><![CDATA[umb://media/def0e4e1b7ca4e0d989d10b3a6eee1dc]]></imageEvent>
        <eventTitle><![CDATA[Feeding the Alpacha]]></eventTitle>
        <event>2019-01-16T13:00:00</event>
      </calendarItem>
    </calendar>
  </home>
</root>